<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Las rutas en Thymeleaf son relativas al directorio static -->
    <link rel="stylesheet" href="/css/estilos2.css">
</head>
<body>
    <table>
        <caption>Listado de personas</caption>
        <thead>
            <tr>
                <th>Nombre</th><th>Edad</th><th>Archivo</th><th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="persona : ${listaPersonas}">
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.edad}"></td>
                <td th:text="${persona.imagen}"></td>
                <td><img th:src="@{/img/{img} (img=${persona.imagen})}" /></td>
            </tr>
        </tbody>
    </table>
</body>
</html>